* {
    box-sizing: border-box;
  }

body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: #948f8b;
}

header .container {

    width: 100%;

}

.nav {
    display: flex;
    list-style: none;
    text-align: end;
    justify-content: space-around;
    margin-left: 30%;
    padding-top: 20px;
    padding-left: 30px;
}


#name{
    color: #948f8b;
    /* font-weight: 700px; */
    margin-left: 20px;
    font-size: 60px;
}

.about-container{
    display: flex;
    justify-content:left;
    margin: 0px 20px 0px 20px;
}

#headshot {
    border-radius: 100%;
    width: 20%;
    height: 20%;
    margin-right: 20px;
}

.skills {
    display: flex;
    justify-content: space-around; 
       
}

.skills .fa-brands {
    color:#5c4737;
    justify-content: space-around;
}

.fa-brands{

}

footer {
    background-color: red;
    height: 300px;
}

.hobbies {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-right: 50%;
}